.signup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(20, 24, 28); /* 흰색 배경 설정 */
}

.signup-form {
    padding: 20px;
    background: rgb(30, 38, 45);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.signup-form h2 {
    text-align: center;
    color: white;
}

.input-group {
    margin-bottom: 20px;
    width: auto;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.input-group input {
    width: -webkit-fill-available;
    padding: 2%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.error-message {
    color: red;
    font-size: 0.875em;
    text-align: center;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #004494;
}
